################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
Clash-Management-System-Navisworks-Addin/vs
Clash-Management-System-Navisworks-Addin/bin
Clash-Management-System-Navisworks-Addin/obj
/Clash-Management-System-Navisworks-Addin/packages.config
/Clash-Management-System-Navisworks-Addin/app.config
