<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClashServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ClashServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44386/ClashService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ClashServiceSoap"
                contract="WebService.ClashServiceSoap" name="ClashServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>