<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClashServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/ClashService.asmx" binding="basicHttpBinding"
                bindingConfiguration="ClashServiceSoap" contract="WebService.ClashServiceSoap"
                name="ClashServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>